*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: blue;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 100px;
    gap:40px;
    color: white;
    font-size: 18px;
}
.input-container{
    background-color: black;
    padding: 30px;
    border-radius: 5px;
}
#data{
    background-color: beige;
    border: none;
    width: 220px;
    height: 44px;
    border-radius: 5px;
    margin-right: 50px;
}
button{
    height: 44px;
    width: 110px;
    background-color: beige;
    border: none;
    border-radius: 5px;
}
.card{
    background-color: black;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}